<div class='card'>
  <h2>Home Page</h2>
  <div class="extra-small-screen">
    Extra Small Screen only
  </div>
  <div class="small-to-large-screen">
    This should be here from small to large!
  </div>
  <div class="large-screen">
    Large Screens and above
  </div>
  <p>
      By the end of the 1880s, the introduction of lengths of celluloid photographic film and the invention of motion picture cameras, which could photograph an indefinitely long rapid sequence of images using only one lens, allowed several minutes of action to be captured and stored on a single compact reel of film. Some early films were made to be viewed by one person at a time through a "peep show" device such as the Kinetoscope and the mutoscope. Others were intended for a projector, mechanically similar to the camera and sometimes actually the same machine, which was used to shine an intense light through the processed and printed film and into a projection lens so that these "moving pictures" could be shown tremendously enlarged on a screen for viewing by an entire audience. The first kinetoscope film shown in public exhibition was Blacksmith Scene, produced by Edison Manufacturing Company in 1893. The following year the company would begin Edison Studios, which became an early leader in the film industry with notable early shorts including The Kiss, and would go on to produce close to 1,200 films.
      The first public screenings of films at which admission was charged were made in 1895 by the American Woodville Latham and his sons, using films produced by their company, and by the – arguably better known – French brothers Auguste and Louis Lumière with ten of their own productions.[citation needed] Private screenings had preceded these by several months, with Latham's slightly predating the Lumière brothers'.[citation needed] Another opinion is that the first public exhibition of projected motion pictures in America was at Brooklyn Institute in New York City 9 May 1893.
  </p>
</div>
