@import '~mpc-ap-styles/src/styles/index';



.extra-small-screen {
  display: block;
  background-color: $AP_P_Navy;
  @include sm { display: none; }
}
.small-to-large-screen {
  display: block;
  background-color: $AP_P_Purple;
  @include sm { display: block; }
  @include xl { display: none; }
}
.large-screen {
  display: none;
  background-color: $AP_P_Green;
  @include lg { display: block; }
}

