<div class="page-top-banner"></div>
<div class="container">

  <div class="page-top-contents">
    <h1>Movies App</h1>
  </div>
  <div class="card">
    <div class="grid">
      <div class="col-span-3-12">
          <a routerLink="/home" class="primary-link">Home</a>
      </div>
      <div class="col-span-3-12">
        <a routerLink="/movies" class="primary-link">Movies</a>
      </div>
      <div class="col-span-3-12">
        <a routerLink="/about" class="primary-link">About</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
