<div class="card">
  <h2>{{film['title']}}</h2>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="grid">
    <div class="col-span-4-12">
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{film.poster_path}}"/>
    </div>
    <div class="col-span-8-12">
      <div class="row">
        <div class="desc col-span-12-12">{{film['overview']}}</div>
      </div>
      <div class="spacer"></div>
      <div class="row">
        <div *ngIf=film.release_date class="release col-span-6-12">Release Date {{film['release_date']}}</div>
        <div class="rating col-span-6-12">Rating: {{film['vote_average']}}</div>
      </div>
    </div>
  </div>
</div>
