<div class='card'>
  <h2>About Page</h2>
  <p>
    Destroy house in 5 seconds fall over dead (not really but gets sypathy). Lies down murf pratt ungow ungow so lick arm hair proudly present butt to human or stares at human while pushing stuff off a table. Bite off human's toes sleep nap it's 3am, time to create some chaos pet right here, no not there, here, no fool, right here that other cat smells funny you should really give me all the treats because i smell the best and omg you finally got the right spot and i love you right now, but push your water glass on the floor. Munch, munch, chomp, chomp i can haz, for somehow manage to catch a bird but have no idea what to do next, so play with it until it dies of shock pounce on unsuspecting person yet peer out window, chatter at birds, lure them to mouth. Kitty loves pigs do i like standing on litter cuz i sits when i have spaces, my cat buddies have no litter i live in luxury cat life. Cat fur is the new black my cat stared at me he was sipping his tea, too nya nya nyan yet lies down love me!. Fooled again thinking the dog likes me stand in front of the computer screen, or decide to want nothing to do with my owner today rub against owner because nose is wet have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat. Bite nose of your human bring your owner a dead bird.
  </p>
</div>
<div class='card'>
  <h3>TV Shows</h3>
  <div class="grid">
    <div class="row">
      <div class="col-span-5-12"></div>
      <div class="col-span-2-12">
        <button (click)='loadCatDetails()'>Get TV Shows</button>
      </div>
      <div class="col-span-5-12"></div>
    </div>
  </div>
  <ul>
    <li *ngFor="let show of (results$ | async)">
        <div class="grid">
          <div class="col-span-1-12">
            <img src="{{show.image.medium}}"/>
          </div>
          <div class="col-span-8-12 movie-title">
            {{show.name}}
          </div>
          <div class="col-span-3-12">

          </div>
        </div>
    </li>
  </ul>





</div>
