$font_path: '~mpc-ap-styles/src/assets/fonts/';

@import '~mpc-ap-styles/src/styles/index';

@include ap-letter-regular;
@include ap-letter-medium;
@include ap-letter-bold;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $AP_P_Light;
}

html {
  background-color: $AP_P_Light;
}

html, body, * {
  box-sizing: border-box;
}

body {
  font-size: $base_font_size;
  @include body-font;
  @include heading-sizes;

  h1 { color: white; }

  .page-top-banner {
    @include page-top-banner;
  }

  .container {
    @include container;
  }

  .card {
    @include card;
  }

  .page-top-contents {
    padding-left: $base_measure;
    @include page-top-contents;
  }

  .grid {
    @include grid;

    [class^="col-"] {
      border-radius: 2px;
    }

  }

  .row {
    @include row;
    width: 100%;
  }

  .colLeft { @include column(12); }
  .colCenter { @include column(12); }
  .colRight { @include column(12); }

  @include md {
    .colLeft {
      border: solid 1px gray;
      @include column(2);
    }

    .colCenter {
      border: solid 1px gray;
      @include column(6);
    }

    .colRight {
      border: solid 1px gray;
      @include column(2);
    }
  }
}

ul { list-style: none; }
li { margin: 0; padding: 0; }

@include xsm {
  .col-span-1-12 { @include column(6); }
  .col-span-2-12 { @include column(6); }
  .col-span-3-12 { @include column(6); }
  .col-span-4-12 { @include column(6); }
  .col-span-5-12,
  .col-span-6-12,
  .col-span-7-12,
  .col-span-8-12,
  .col-span-9-12,
  .col-span-10-12,
  .col-span-11-12,
  .col-span-12-12 {
    @include column(12);
  }
}
@include md {
  .col-span-1-12 {
    @include column(1);
  }
  .col-span-2-12 {
    @include column(2);
  }
  .col-span-3-12 {
    @include column(3);
  }
  .col-span-4-12 {
    @include column(4);
  }
  .col-span-6-12 {
    @include column(6);
  }
  .col-span-8-12 {
    @include column(8);
  }
  .col-span-12-12 {
    @include column(12);
  }
}



