<div class='card'>
  <h2>Movies Page</h2>
  <div class="grid">
    <div class="col-span-3-12"></div>
    <div class="col-span-6-12">
      <input [(ngModel)]="filterName" (keyup)="onKey($event)" placeholder="name">
    </div>
    <div class="col-span-3-12"></div>
  </div>
</div>
<div class='card'>
  <ul>
    <li *ngFor="let film of results$">
      <a [routerLink]="['/movies', film.id]" routerLinkActive="router-link-active" >

        <div class="grid">
          <div class="col-span-1-12">
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{film.poster_path}}"/>
          </div>
          <div class="col-span-8-12 movie-title">
            {{film.title}}
          </div>
          <div class="col-span-3-12">

          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
