@import '~mpc-ap-styles/src/styles/index';


input {
  @include input-field;
  width: 100%;
  @include sm {
    max-width: 1280px;
  }
}

img {
  max-height: 50px;
}

li {
  padding: $base_measure * 2;
  border-bottom: solid 1px $AP_P_Slate_Light;

  a {
    text-decoration: none;
    color: $AP_P_Navy;

    &:hover * {
      background-color: $AP_P_Light;
    }
  }

  .movie-title {
    font-size: $base_measure * 2.25;
    line-height: $base_measure * 6;
    margin: 0;
  }

}
